* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 500px;
    
}
img:hover{
    animation-name: rotatePic;
    animation-duration: 2s;
}
@keyframes rotatePic{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(80deg);}
    50%{transform: rotate(120deg);}
    80%{transform: rotate(240deg);}
    100%{transform: rotate(360deg);}
}

.container {
    background-color: rgb(255, 0, 128);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 1rem;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(247, 0, 255));
    box-shadow: 0 0 10px 10px rgb(11, 254, 76);
    transition: scale 0.2s;
}

.card:hover{
    scale: 1.02;
}

.card p {
    text-align: justify;
}

.card h3{
    font-variant: small-caps;
}

.card p::first-letter {
    font-size: 1.4rem;
    font-weight: bold;
    color: hsl(199, 37%, 12%);
    font-style: italic;
}

.card a{
    background-color: rgb(115, 29, 116);
    padding: 15px;
    color: white;
    text-decoration: none;
    max-width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: .2s;
}
.card a:hover{
    background-color: blueviolet;
    transition-duration: .2s; 
    
}

.card:active{
    opacity: .5;
}

.card img:hover{
    scale: 5;
    cursor: pointer;
}